{% extends "base.html" %}
{% block content %}

<div>
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %}
                            class="alert alert-danger"
                        {% elif message.tags == "success" %}
                            class="alert alert-success"
                        {% else %}
                            class="alert alert-info"
                        {% endif %}>
                            {{ message |linebreaksbr }}
                        </div>
                    {% endfor %}
                {% endif %}
</div>
<form method="post" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
      <a href="{% url 'ticket' %}"></a>
</form>

{% endblock %}