{% extends "base.html" %}
{% block fibonacci_selected_tab %} class="active" {% endblock %}
{% block content %}

<div class="row">
     <!-- Breadcrumbs-->
     <div class="container-fluid">
        <ol class="breadcrumb" style="width: 782px;">
          <li class="breadcrumb-item" >

            <a  href="{% url 'ticket' %}">Dashboard</a>
          </li>


        </ol>
         {% for row in data %}
          <div class="col-xl-3 col-sm-6 mb-3">
              <form action='{% url "ticket" %}' method='POST'>
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">{{row.project_name}}</div>
              </div>

              <a class="card-footer text-white clearfix small z-1">
                  <input type="hidden" value="{{row.project_name}}" name="ticket_details">
                <span class="float-left"><input type="submit" value="View Details"/></span>
                <span class="float-right">
                </span>
              </a>


            </div>
              </form>
          </div>
    {% endfor %}

</div>
     </div>
{% endblock %}



